*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

marquee{
    background-color: blanchedalmond;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.opacity{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.opacity:hover{
    opacity: 0.5;
}

.color{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.color:hover{
    color: blueviolet;
    background:#53a7ea;
}

.gradient{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.gradient:hover{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.transformax{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.transformax:hover{
    transform: scale(3);
}

.transformin{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.transformin:hover{
    transform: scale(0.5);
}

.rotate{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
    transition: 5s;
}

.rotate:hover{
    transform: rotatez(-360deg);
}

.blurry{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
    transition: 1s ease;
}

.blurry:hover{
    filter:blur(5px);
}

.arredonded{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
    transition: 5s ease;
}

.arredonded:hover{
    border-radius: 100%;
}

.border{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
}

.border:hover{
    box-shadow: inset 0 0 0 25px #000000;
}

.formtion{
    border: solid;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 230, 131);
    transition: 2s;
}

.formtion:hover{
    width: 40vw;
    height: 40vh;
    transform: rotatez(180deg);
}